
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

body{
	font-family: "Ovo", serif;
	font-style: normal;
	padding:0;
	margin: 0;
	border: 0;
}
nav {
	background: #5E716D;
	display: flex;
	font-size: 40px;
	font-weight: 400;
	color: #FCD6D2;
	justify-content: space-between;
	border: 1px, solid, transparent;
}
nav img {
	width: 300px;
	padding:0px;
	margin: 0px;
	boarder: 0px;
}

@media screen and (max-width: 480px) {
      nav{
      	flex-direction: column;
      }
     
      h1{
      	font-size: 20px;
      }

      img {
      	max-width: 100%;
      	height: auto;
      }

      footer{
      	flex-direction: column;
      }
}

ul {
   list-style: none;
   margin: 0;
   padding: 15px;
   display: flex;
   gap: 46px;
}

a {
	font-size: 30px;
	font font-weight: 400;
	text-decoration: none;
	text-align: right, bottom;
	color: #FCD6D2;
}

.the-team {
	background: #DCDED6;
	margin: auto;
	padding: 1px;
	border: 1px;
	text-align: center;
}

h1{
	color: #5E716D;
    text-align: center;
    font-family: "Petit Formal Script";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.container {
	display: flex;
	align-items:center;
}

.container img {
	float: left;
}

.container p {
	color: #5E716D;
   font-family: Ovo;
   font-size: 35px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-shrink: 0;
   padding:20px;
   margin: 20px;
   border: 10px;
}
.testimonial {
	background: #DCDED6;
	margin: auto;
	padding: 1px;
	border: 1px;
}

h2{
	color: #5E716D;
	text-align: center;
   font-family: "Petit Formal Script";
   font-size: 40px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 2px;
}

.testimony-box {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.testimony-box img {
   float: left;
   width: 250px;
   height: 300px;
   flex-shrink: 0;
}
 
.testimony-box p {
 	color: #5E716D;
   font-family: Ovo;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   flex-shrink: 0;
   display: flex;
   width: 1037px;
   height: 150px;
   flex-direction: column;
   padding:20px;
   margin: 20px;
   border: 10px;
}

h3 img {
	width: 1440px;
    height: 876px;
    flex-shrink: 0;
    background: #C8D9C8;
    boarder: 1px, soild, transparent;
}

.bottom {
	background: #5E716D;
	display: flex;
	font-size: 40px;
	font-weight: 400;
	color: #FCD6D2;
	justify-content: space-between;
	border: 1px, solid, transparent;
}
