
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

body{
	font-family: "Ovo", serif;
	font-style: normal;
}
nav {
	background: #5E716D;
	display: flex;
	font-size: 40px;
	font-weight: 400;
	color: #FCD6D2;
	justify-content: space-between;
	border: 1px, solid, transparent;

	
}
nav img {
	width: 300px;

}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   gap: 46px;
}

a {
	font-size: 30px;
	font font-weight: 400;
	text-decoration: none;
	text-align: right, bottom;
	color: #FCD6D2;
}

.the-team {
	background: #DCDED6;
	margin: 15px, 0px;
	padding: 1px;
	border: 1px;
}
h1{
	background:#DCDED6;
	color: #5E716D;
    text-align: center;
    font-family: "Petit Formal Script";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}
p{
  color: #5E716D;
  text-align: right;
  font-family: Ovo;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 528px;
  height: 162px;
  flex-direction: column;
  justify-content: center;
}

h3 img {
	width: 1440px;
    height: 876px;
    flex-shrink: 0;
    background: #C8D9C8;
    boarder: 1px, soild, transparent;

}
